<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <!-- Site Title -->
      <a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a>

      <!-- Hamburger button shown in responsive mode -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse trigger" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item {% if page.url == my_page.url %}active{% endif %}">
            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">
              {{ my_page.title }}
              {% if page.url == "/" %} <span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          {% endif %}
          {% endfor %} {% comment %} <a class="nav-link" href="#">Home</a> {% endcomment %}
        </ul>
      </div>
    </nav>

  </div>

</header>